<html>
    <body>

        <p>Your cash : <%= cash %></p>
        Buy everything ! 

        Secret is encrypted with key. Please buy both of them. 

        <form action="/buy/secret" method="post">
            <input type="submit" value="Cost 300$ Buy Secret !">
        </form>

        <form action="/buy/key" method="post">
            <input type="submit" value="Cost 300$ Buy Key !">
        </form>
    </body>
</html>