<html>
    <body>
        <h1>Main admin panel</h1>
        <ul>
            <li><a href="https://under_construction.local/">Local Dev Version</a></li>
            <li><a href="/source_code">LocalDev SourceCode</a>
            <li><a href="https://sthack.fr/">Best conference Ever</a></li>
            <li><a href="https://shoxxdj.fr">I love this man</a></li>
        </ul>
        <hr/>
        <i>User message : </i>
        <pre><%- feedback %></pre>
        <hr/>
</body>
</html>
